# Local
.DS_Store
*.local
*.log*
logs
*debug.log*
yarn-error.log*
dist-ssr

# Dist
node_modules
dist/

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# Editor directories and files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
